# Configuración Meta Ads
META_ACCESS_TOKEN=""
META_ACCOUNT_ID=""
META_CAMPAIGN_ID=""

# Configuración del entorno
LATITUD="0"
LONGITUD="0"

# Configuración Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID="" #soporta varios separados por coma

# modos de prueba
MODO_SIMULACION="false"
ENVIAR_TELEGRAM="True"