# Meta Ads
META_ACCESS_TOKEN=
META_ACCOUNT_ID=
META_CAMPAIGN_ID=
MODO_SIMULACION=true

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=            # separar varios IDs con ","
ENVIAR_TELEGRAM=false

# Open-Meteo
LATITUD=
LONGITUD=
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
TIMEOUT_RED=10